@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

*{
    box-sizing: border-box;
}

body {
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
font-family: 'Montserrat', sans-serif;;
}

#lose-win-text {
  font-size: 25px;
  color: white;  
}

.roll-button {
margin-bottom: 15px;
background-color:black;
color: white;
padding: 20px 85px 20px 85px;
border-radius: 10px;
font-size: 20px
}

.roll-button:hover{
    cursor: pointer;
}

.reset-button {
    margin-top: 15px;
    background-color:black;
    color: white;
    padding: 20px 60px 20px 60px;
    border-radius: 10px;
    font-size: 20px;
 }
    
.reset-button:hover{
    cursor: pointer;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 60vh;  
}

.border{
    border: solid;
    padding: 0px 150px 0px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-radius: 15px;
}
.header{
    text-align: center;
    color: white;
    
}

.header-main{
    font-size: 30px;
    margin-block-end: 0.4em;
    margin-block-start: 0em;
}

.header-sub{
    font-size: 20px;
    margin-block-end: 0.5em;
    margin-block-start: 0em;
}

h2{
    font-size: 25px;
    color: white;
}

h5, .total{
    font-size: 15px;
    text-align: center;
    color: white;
}

h3{
    font-size: 25px;
    color: white;
}

img{
    width: 250px;
    width: 250px;
}

@keyframes dice-images {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-10deg); }
    20% { transform: translate(-3px, 0px) rotate(10deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(10deg); }
    50% { transform: translate(-1px, 2px) rotate(-10deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-10deg); }
    80% { transform: translate(-1px, -1px) rotate(5deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-10deg); }
  }

    